
  <div id="login-options" class="row mx-auto">
    <div class="col-sm-6">
      <a href="/all" id="all"><img src="images/shapeofwaterStill.jpg" alt=""></a>
      <div class="login-label"><a href="/kids">All Movies</a></div>
    </div>
    <div class="col-sm-6">
      <a href="/kids" id="kids" ><img src="images/upStill.png" alt=""></a>
      <div class="login-label"><a href="/kids" >Kids Movies</a></div>
    </div>
  </div>
