body {
  font: 16px 'Questrial', Helvetica, Arial, sans-serif;
  background: #1C1C1C;
  color: white;
}

a {
  color: white;
  transition: 0.5s;
}

a:hover{
  color: teal;
}

ul {
    list-style-type: none;
}

footer{
  background-color: black;
}

.navbar {
  margin-bottom: 50px;
}

#mainLogo {
  margin-top: 15px;
}

#login-options {
  text-align: center;
  height: 90vh;
}

#login-options img{
  width: 200px;
  height: 200px;
  padding: 8px;
  border: 2px solid teal;
}

.login-label{
  margin-top: 10px;
}

.movieThumb{
  max-width: 100%;
}

.test{
  height: 175px;
}

.singleMovie{
  background-color: teal;
  margin-top: 20px;
  margin-bottom: 15px;
}

.singleMovie a:hover {
  color: white;
}

.movie{
  margin-bottom: 40px;
}

#title{
  color: teal;
}

#home{
  text-align: right;
}

video{
  max-width: 100%;
}

#movDesc{
  margin-top: 50px;
  margin-bottom: 80px;
}

.mov-info{
  position: absolute;
  left: 2em;
  top: 150px;
}

.mov-info h4{
  color: #E7B465;
}

.genre-list{
  position: relative;
}

h6{
  font-size: 2em;
}

footer ul li{
  display: inline-block;
  font-size: 2em;
  margin-left: 5px;
}
footer ul{
  margin-bottom: 0px;
}

.backBtn{
  font-size: 2em;
}

.star-rating-star {
  display: inline-block;
  padding: 3px;
  vertical-align: middle;
  line-height: 1;
  font-size: 2.25em;
  color: #ABABAB;
  -webkit-transition: color .2s ease-out;
  transition: color .2s ease-out;
}
.star-rating-star:hover {
  cursor: pointer;
}
.star-rating-star.is-selected {
  color: #FFD700;
}
.star-rating-star.is-disabled:hover {
  cursor: default;
}

.star-rating-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
